<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Masters</title>
    <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="navbar">
          <div class="navdiv">
            <div class="logo">
                <a href="index.html"><img src="/static/images/logo.png" width="80 px" height="80 px" title="Home"></a>
            </div>
            <ul>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="practice.html">Practice Questions</a></li>
                <li><a href="resources.html">Resources</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        </div>
        <br>
        <br>
        

        <div class="start">
            <h1 class="h1start">Learn new skills online with the help of latest technologies and AI integration.</h1>
            <img src="/static/images/graphic.png" height="500px" width="800px">
        </div>
        <br>
        <br>

    </header>
    <!-- comment-->
    <br>
    <h1 class="h1">Learning as it should be</h1>
    <br>
    <h3>Train your employees, partners and customers with Learning Masters LMS. Manage, track <br> and achieve your learning goals - all through a single, powerful solution.</h3>
    <br>
    <br>
    <button class="home-button"> Explore now.</button>
    <br>
    <br>
    <br>
    <div class="scrolling-wrapper">
        <div class="card"><h2>Web Development<br> <br>
            <img src="/static/images/webd.jfif" height="183px" width="250px">
        </h2></div>
        <div class="card"><h2>App Development<br><br><img src="/static/images/appd.jfif" height="183px" width="250px"></h2></div>
        <div class="card"><h2>Data Structures<br><br><img src="/static/images/datastructures.jfif" height="183px" width="250px"></h2></div>
        <div class="card"><h2>Python </h2></div>
        <div class="card"><h2>MERN Stack</h2></div>
        <div class="card"><h2>MEAN Stack</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
      </div>

      <br>
    <footer>
        <div class="footer">
            <p>Footer</p>
        </div>
    </footer>
    
</body>
</html>


